
@import '../shared-styles/colors.styl'
@import '../shared-styles/sizings.styl'
@import '../shared-styles/gradients.styl'
@import '../shared-styles/border-radius.styl'

:host 
  display block
  --ll-button-group-gap-size MarginMedium

:host([switch]) ll-selector 
  border 2px solid var(--ll-button-group-selected-border-color, var(--ll-theme-main, ColorGreen))
  padding 0
  border-radius 5px
  overflow hidden
  --ll-button-group-gap-size 0

ll-selector 
  display var(--ll-button-group-display, block)
  grid-template-columns repeat(var(--ll-button-group-cols, var(--ll-button-group-numitems)), 1fr)
  grid-gap var(--ll-button-group-gap-size, MarginMedium)

ll-button 
  --ll-button-border-radius BorderRadiusM
  --ll-button-text-color var(--ll-button-group-text-color, var(--ll-theme-dark, ColorBlack))
  --ll-button-border-color var(--ll-button-group-border-color, transparent)
  --ll-button-fill var(--ll-button-group-fill, var(--ll-theme-light, ColorWhite))
  margin 0

:host([switch]) ll-button 
  --ll-border-radius 0        
  margin 0

ll-button.ll-selected
  --ll-button-fill var(--ll-button-group-border-color--active, var(--ll-theme-main, Gradient(ColorGreen, ColorBlue)))
  --ll-button-text-color var(--ll-button-group-text-color--active, var(--ll-theme-light, ColorWhite))
  --ll-button-text-color--active var(--ll-button-group-fill--active, var(--ll-theme-main, Gradient(ColorGreen, ColorBlue)))