
@import '../shared-styles/colors.styl'
@import '../shared-styles/sizings.styl'
@import '../shared-styles/gradients.styl'
@import '../shared-styles/border-radius.styl'

:host 
  display block
  --ll-button-group-gap-size MarginMedium

:host([switch]) ll-selector 
  border 2px solid ColorGreen
  padding 0
  border-radius 5px
  overflow hidden
  --ll-button-group-gap-size 0

ll-selector 
  display var(--ll-button-group-display, block)
  grid-template-columns repeat(var(--ll-button-group-cols, var(--ll-button-group-numitems)), 1fr)
  grid-gap var(--ll-button-group-gap-size, MarginMedium)

ll-button 
  --ll-button-border-radius BorderRadiusM
  --ll-button-text-color ColorBlack
  --ll-button-text-color--active ColorBlack
  --ll-button-fill white
  margin 0

:host([switch]) ll-button 
  --ll-border-radius 0        
  margin 0

ll-button.ll-selected 
  --ll-button-fill Gradient(ColorGreen, ColorBlue)
  --ll-button-text-color white
  --ll-button-text-color--active white