
@import '../shared-styles/colors.styl'
@import '../shared-styles/sizings.styl'
@import '../shared-styles/gradients.styl'
@import '../shared-styles/border-radius.styl'

:host 
  display block
  --ll-button-group-gap-size var(--ll-margin--medium, MarginMedium)

:host([switch]) ll-selector 
  border 2px solid var(--ll-color-green, ColorGreen)
  padding 0
  border-radius 5px
  overflow hidden
  --ll-button-group-gap-size 0

ll-selector 
  display var(--ll-button-group-display, block)
  grid-template-columns repeat(var(--ll-button-group-cols, var(--ll-button-group-numitems)), 1fr)
  grid-gap var(--ll-button-group-gap-size, var(--ll-margin--medium, MarginMedium))

ll-button 
  --ll-button-border-radius var(--ll-border-radius, BorderRadiusM)
  --ll-button-text-color var(--ll-color-black, ColorBlack)
  --ll-button-text-color--active var(--ll-color-black, ColorBlack)
  --ll-button-fill white
  margin 0

:host([switch]) ll-button 
  --ll-border-radius 0        
  margin 0

ll-button.ll-selected 
  --ll-button-fill var(--ll-gradient-greenblue, Gradient(ColorGreen, ColorBlue))
  --ll-button-text-color white
  --ll-button-text-color--active white