@import '../shared-styles/colors.styl'
@import '../shared-styles/gradients.styl'
@import '../shared-styles/border-radius.styl'
@import '../shared-styles/shadows.styl'
@import '../shared-styles/typography.styl'
@import '../shared-styles/sizings.styl'
   
h3
  BodyText()

img
  width 100%

:host
  display flex
  flex-direction column
  background var(--ll-card-fill, var(--ll-theme-light, ColorWhite))
  box-sizing border-box
  border-radius BorderRadiusM
  overflow hidden
  
header 
  max-height 300px
  flex 1

img 
  width 100%
  height 100%
  object-fit cover

main 
  flex 2
  padding MarginLarge
  color var(--ll-card-color, var(--ll-theme-dark, ColorBlack))

h3 
  margin 0
  font-weight normal