SizeBase = 4px

Size-1 = (SizeBase * 1)
Size-2 = (SizeBase * 2)
Size-3 = (SizeBase * 3)
Size-4 = (SizeBase * 4)
Size-5 = (SizeBase * 6)
Size-6 = (SizeBase * 8)
Size-7 = (SizeBase * 12)
Size-8 = (SizeBase * 16)
Size-9 = (SizeBase * 24)
Size-10 = (SizeBase * 32)
Size-11 = (SizeBase * 48)
Size-12 = (SizeBase * 64)
Size-13 = (SizeBase * 96)
Size-14 = (SizeBase * 128)
Size-15 = (SizeBase * 160)
Size-16 = (SizeBase * 192)
Size-17 = (SizeBase * 256)
Size-18 = (SizeBase * 320)
Size-19 = (SizeBase * 360)
Size-20 = (SizeBase * 400)
Size-21 = (SizeBase * 480)