MarginXsmall = 1px
MarginSmall = 3px
MarginMedium = 6px
MarginLarge = 9px
MarginXlarge = 12px
MarginXxlarge = 20px
PaddingXsmall = 1px
PaddingSmall = 3px
PaddingMedium = 6px
PaddingLarge = 9px
PaddingXlarge = 12px
PaddingXxlarge = 20px