FontFamily = 'Karla', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe  =I Symbol"
H1Size = 42px
H4Size = 24px
BodySize = 18px
SmallSize = 12px
FontWeight = 400

TypographyReset()
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-rendering optimizeLegibility

H1()
  TypographyReset()
  font-size H1Size
  line-height 1.16

H4()
  TypographyReset()
  font-size H4Size
  line-height 1.16

BodyText()
  TypographyReset()
  font-size BodySize
  line-height 1.16

ButtonText()
  H4()
  margin 0
  line-height 1

SmallText()
  TypographyReset()
  font-size SmallSize
  margin 0
  line-height 1