@import '../shared-styles/colors'

:host
  display block
  border-bottom 1px solid var(--ll-theme-dark, ColorBlack)

ll-button
  --ll-button-text-align start
  --ll-button-fill transparent
  --ll-button-text-color ColorBlack
  --ll-button-border-radius 0
  --ll-button-border-color transparent
  --ll-button-border-color--active transparent
  border 1px solid var(--ll-theme-dark, ColorBlack)
  display block
  margin-bottom -1px

ll-button:hover
  --ll-button-fill var(--ll-theme-highlight, ColorYellow)

ll-button[data-opened]
  border-bottom 0
  --ll-button-fill var(--ll-theme-highlight, ColorYellow)

#slotContainer
  display none

.container
  background-color var(--ll-theme-highlight, ColorYellow)
  overflow hidden
  height 0px
  width 100%
  box-sizing border-box

.container > *
  padding 16px

.container[data-opened]
  height var(--container-height)
  border-left 1px solid var(--ll-theme-dark, ColorDark)
  border-right 1px solid var(--ll-theme-dark, ColorDark)