@import '../shared-styles/colors.styl'

:host 
  display inline-block
  height var(--ll-icon-size, 24px)
  width var(--ll-icon-size, 24px)

svg 
  height 100%
  width 100%

g 
  stroke var(--ll-icon-color, ColorBlack)
  fill none