:host {
  display: block;
  position: relative;
}
input {
  width: 100%;
  height: var(--ll-input-height, 50px);
  outline: none;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  line-height: 1.16;
  -webkit-appearance: none;
  box-sizing: border-box;
  padding: 0;
  border-radius: 0;
  display: block;
  border-bottom: 2px solid var(--ll-text-input-border-color, rgba(0,0,0,0.5));
  transition: 0.5s border-bottom-color;
  background: transparent;
}
label {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0.5;
  color: var(--ll-color-black, #000);
  user-select: none;
  pointer-events: none;
  transition: 0.3s transform ease;
  transform-origin: 0 0;
  transform: none;
}
input:focus {
  border-bottom-color: var(--ll-text-input-border-color--focus, #000);
}
input:not([value='']) + label {
  transform: scale(0.8) translateY(-24px);
  border-bottom-color: var(--ll-text-input-border-color--not-empty, #000);
}
:host([disabled]) {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
  cursor: default;
}
:host([invalid]) input {
  border-bottom-color: var(--ll-text-input-border-color--invalid, #f00);
}
