@import '../shared-styles/typography.styl'
@import '../shared-styles/sizings.styl'

:host
  display block
  BodyText()
  padding MarginLarge

::slotted(h1)
  H1()

::slotted(h1)
  margin-bottom MarginLarge

main
  padding MarginLarge 0

footer
  padding-top MarginLarge
  padding-bottom MarginXxLarge